body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#333;
}

.boxy {
    margin: 100px 100px 100px;
    padding: 20px;
    border: 2px solid #999;
    width:300px;
}

/* .rotatey {
    transform: rotate(90deg);
} */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexy {
    background-color: rgb(173, 156, 223);
    width: 300px;
    border: 5px solid rgb(71, 71, 71);
    padding: 50px;
    margin: 20px;
}

.flexy1 {
    flex-shrink: 2;
}

.flexy2 {
    flex-shrink: 1;
}

.flexy3 {
    flex-shrink: 1;
}

.flexy4 {
    flex-shrink: 1;
}

.footer {
    margin-top:200px;
}