* {
    box-sizing: border-box; /* sets box size based on border instead of default content */
}

header {
    margin-bottom: 10px;
}

.headerContainer {
    display: flex;
    justify-content: start;
    padding: 10px;
    margin: 0 auto;
    background: #666;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

nav ul li {
    padding: 10px;
    vertical-align: bottom;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex: 1 0 20%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.project header {
    background:dimgrey;
}

.featured-project {
    flex: 2 0 80%;
}